* {
    box-sizing: border-box;
}

html {
    background-color: #fff;
    font-size: 16px;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;  
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgb(239, 239, 239);
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #d8d8d8;
}
  
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex: 1;
}
  
.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    border-bottom: 1px solid black;
}

.nav_item {
    display: flex;
    font-size: 3rem;
}

.selected_nav_item {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.main {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    width: 100vw;
}

.left_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    margin: 0;
}

.right_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    flex: 2;
}

.vis_container {
    display: flex;
    flex-direction: column;
    border: 1px dotted black;
    justify-content: space-around;
    flex: 2;
    width: 100%;
}

.vis_header {
    display: flex;
    justify-content: center;
    border: 1px dotted black;
    margin: 5px;
}

.vis_content {
    display: flex;
    border: 1px dotted black;
    flex: 4;
    justify-content: center;
}

.results_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    width: 100%;
}

.results_header {
    display: flex;
    margin: 5px;
}

.results_content {
    display: flex;
    justify-content: space-between;
    border: 1px dotted black;
    flex: 1;
}

.form_area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px dotted black;
    width: 100%;
    padding: 1px;
}

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
}

.box {
    border: 1px dotted black;
    display: block;
    width: fit-content;
}
  
form input {
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  
    /* here we are setting white space correctly */
    margin-bottom: 5rem;
    height: 2rem;
    border-radius: 4px;
  }
  
  form label {
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    align-items: flex-start;
  
    display: block; /* this turns the label text into a box we can set margins on */
    margin-bottom: 0.5rem;
  }
  
.about_box {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px;
    border-radius: 15px;
    justify-content: space-evenly;
    align-items: center;
}

.about_box h1 {
    align-self: start; 
    padding-top: 50px;
    padding-left: 50px;
}

.inner_box {
    border: 1px solid black;
    width: 90%;
    margin: 10px;
    border-radius: 15px;
    flex: 2;
    padding: 20px;
}

.desc {
    margin-left: 5%;
}